import(cleaver)
import(knitr)
import(hwriter)
import(utils)
import(MSnbase)
import(methods)

importFrom(qvalue, qvalue)
importFrom(multtest, mt.rawp2adjp)
importFrom(lattice, levelplot, densityplot, barchart)
importFrom(RColorBrewer, brewer.pal)
importFrom(Biobase, addVigs2WinMenu, isCurrent, updateObject, validMsg)
importFrom(Biostrings, readAAStringSet)
importFrom(tools, file_ext, file_path_sans_ext)
importFrom(readr, read_csv, read_tsv, read_lines, cols_only)

export(Synapter, ## constructor
       as.MSnSet.Synapter,
       createUniquePeptideDbRds,
       synergise,
       synapterGUI,
       makeMaster,
       estimateMasterFdr,
       inspectPeptideScores,
       rescaleForTop3,
       synapterGuide,
       synapterTinyData)

exportClasses(MasterPeptides,
              MasterFdrResults)

exportMethods(show,
              inputFiles,
              getLog,
              mergePeptides,
              modelRt,
              modelIntensity,
              findEMRTs,
              rescueEMRTs,
              searchGrid,
              fragmentMatching,
              ## getters and setters
              getGrid,
              getGridDetails,
              getBestGridValue,
              getBestGridParams,
              setBestGridParams,
              setPepScoreFdr,
              getPepScoreFdr,
              setProtFpr,
              getProtFpr,
              setIdentPpmError,
              getIdentPpmError,
              setQuantPpmError,
              getQuantPpmError,
              setPpmError,
              setLowessSpan,
              getLowessSpan,
              setRtNsd,
              getRtNsd,
              setImDiff,
              getImDiff,
              getPpmErrorQs,
              getRtQs,
              getPepNumbers,
              showFdrStats,
              getEMRTtable,
              setFragmentMatchingPpmTolerance,
              getFragmentMatchingPpmTolerance,
              performance,
              performance2,
              ## filtering prior to merging
              filterFragments,
              filterPeptideLength,
              filterQuantPepScore,
              filterIdentPepScore,
              filterIdentPpmError,
              filterQuantPpmError,
              filterIdentProtFpr,
              filterQuantProtFpr,
              filterUniqueDbPeptides,
              filterUniqueQuantDbPeptides,
              filterUniqueIdentDbPeptides,
              filterUniqueMatches,
              filterNonUniqueMatches,
              filterNonUniqueIdentMatches,
              ## plotting
              plotPpmError,
              plotRtDiffs,
              plotRt,
              plotPepScores,
              plotFdr,
              plotEMRTtable,
              plotGrid,
              plotFeatures,
              plotFragmentMatching,
              plotFragmentMatchingPerformance,
              plotCumulativeNumberOfFragments,
              ## exporters
              writeMergedPeptides,
              writeMatchedEMRTs,
              writeIdentPeptides,
              writeQuantPeptides,
              ## MasterFdrResults and MasterPeptides
              bestComb,
              allComb,
              masterFdr,
              fileNames,
              plot,
              show,
              writeMasterPeptides,
              writeFragmentLibrary,
              getIdentificationFragments,
              getQuantitationSpectra,
              updateObject,
              ## MSnset
              correctIntensity,
              requantify,
              synapterPlgsAgreement)
