import(cleaver)
import(knitr)
import(hwriter)
import(utils)
import(MSnbase)
import(methods)
import(BiocParallel)

importFrom(qvalue, qvalue)
importFrom(multtest, mt.rawp2adjp)
importFrom(lattice, levelplot, densityplot, barchart)
importFrom(RColorBrewer, brewer.pal)
importFrom(Biobase, addVigs2WinMenu)
importFrom(Biostrings, readAAStringSet)

export(Synapter, ## constructor
       as.MSnSet.Synapter,
       synergise,
       synapterGUI,
       makeMaster,
       writeMasterPeptides,
       estimateMasterFdr,
       inspectPeptideScores,
       synapterGuide,
       synapterTinyData)

exportClasses(MasterPeptides,
              MasterFdrResults)

exportMethods(show, 
              inputFiles,
              getLog,
              mergePeptides,
              modelRt,
              findEMRTs,
              searchGrid,
              ## getters and setters
              getGrid,
              getGridDetails,
              getBestGridValue,
              getBestGridParams,
              setBestGridParams,
              setPepScoreFdr,
              getPepScoreFdr,
              setProtFpr,
              getProtFpr,
              setIdentPpmError,
              getIdentPpmError,
              setQuantPpmError,
              getQuantPpmError,
              setPpmError,
              setLowessSpan,
              getLowessSpan,
              setRtNsd,
              getRtNsd,
              getPpmErrorQs,
              getRtQs,
              getPepNumbers,
              showFdrStats,
              getEMRTtable,
              performance,
              performance2,
              ## filtering prior to merging
              filterPeptideLength,
              filterQuantPepScore,
              filterIdentPepScore,
              filterIdentPpmError,
              filterQuantPpmError,
              filterIdentProtFpr,
              filterQuantProtFpr,
              filterUniqueDbPeptides,
              filterUniqueQuantDbPeptides,
              filterUniqueIdentDbPeptides,
              ## plotting
              plotPpmError,
              plotRtDiffs,
              plotRt,
              plotPepScores,
              plotFdr,
              plotEMRTtable,
              plotGrid,
              plotFeatures,
              ## exporters
              writeMergedPeptides,
              writeMatchedEMRTs,
              writeIdentPeptides,
              writeQuantPeptides,              
              ## MasterFdrResults and MasterPeptides
              bestComb,
              allComb,
              masterFdr,
              fileNames,
              plot,
              show)
              
              


